Kautilya_github_ready.json
{
  "name": "Kautilya",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -64,
        128
      ],
      "id": "2eed0158-9033-4c97-9e0f-4182ae022f39",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://YOUR_BACKEND_HOST:8000/run",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "urls",
              "value": "={{ $json.urls }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        448,
        -48
      ],
      "id": "e9110104-ac18-4470-a4c4-832d055ed117",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "http://YOUR_BACKEND_HOST:8000/health",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        144,
        48
      ],
      "id": "0195cd5f-a2ef-41a6-80da-f2d3afd921a2",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f3a1e0c8-b63a-4aa9-a1fe-8e62341e083b",
              "leftValue": "={{ $json.status }}",
              "rightValue": "paused_for_review",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        608,
        96
      ],
      "id": "8b673a4f-ec38-47c2-b7fc-8a27e686fb52",
      "name": "If"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#all-kautilya",
          "mode": "name"
        },
        "text": "=🚨 *Kautilya — Changes Approved by REVIEWER_NAME*\n\n{{ $('Code in JavaScript').item.json.formatted_deltas }}\n\n✅ Reviewed and approved via Kautilya UI",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1264,
        192
      ],
      "id": "5ac18ae9-0ac1-4bc5-8608-ff6394e3c72e",
      "name": "Send a message",
      "webhookId": "YOUR_SLACK_WEBHOOK_ID",
      "credentials": {
        "slackApi": {
          "id": "YOUR_SLACK_CREDENTIAL_ID",
          "name": "Slack account 2"
        }
      }
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {}
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        928,
        192
      ],
      "id": "251ae9d2-ac14-45d2-9271-54ea52fc1979",
      "name": "Wait",
      "webhookId": "YOUR_WAIT_WEBHOOK_ID"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://YOUR_BACKEND_HOST:8000/store-webhook",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"thread_id\":  \"{{ $('HTTP Request').item.json.thread_id }}\",\n  \"resume_url\": \"{{ $execution.resumeUrl }}\",\n  \"deltas\":     {{ JSON.stringify($('HTTP Request').item.json.deltas) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        768,
        -32
      ],
      "id": "d426a5d7-b770-47b4-b729-71363fcbe6bc",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "jsCode": "const deltas = $('HTTP Request').item.json.deltas;\nconst formatted = deltas.map((d, i) => \n  `*Change ${i+1}:*\\n*URL:* ${d.url}\\n*Analysis:* ${d.analysis}\\n*Confidence:* ${d.confidence}`\n).join('\\n\\n');\n\nreturn [{ json: { formatted_deltas: formatted } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        16
      ],
      "id": "f02cc3d2-181d-4064-a1e5-b725ea977425",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "url": "http://YOUR_BACKEND_HOST:8000/urls",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        320,
        240
      ],
      "id": "046bc198-4b34-4361-9070-fb7ac9b3d4d5",
      "name": "HTTP Request2"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "YOUR_VERSION_ID",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_INSTANCE_ID"
  },
  "id": "YOUR_WORKFLOW_ID",
  "tags": []
}
